body{
    margin: opx;
    box-sizing: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    background-image: url( http://www.web-d.be/data/uploads/48_background-resize.png);
    background-size: cover;
}


h1, h2, h3, h4{
    font-family: "Montserrat", serif;
    color: #00a400;;
    font-size: 50px;
    text-decoration: underline red;
    
}
.maxi{
    background-color: aqua;
}
a:link{
    color: blueviolet;
    
}
a:visited{
    color: yellow;
}
a:hover{
    color: blue; 
}
a:active{
    color: aqua;
}
a{
    background-color: black;
}